##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## VSCODE
##############################
.vscode

##############################
## OS X
##############################
.DS_Store

output.txt